<h3>Component1</h3>
<Photo ImageSrc="@CurrentImage" />
@code {
    private string[] urls = new string[]
    {
        "/images/cat1.jpg",
        "/images/cat2.jpg",
        "/images/cat3.jpg"
    };

    private int currentImageIndex = 0;
    private string CurrentImage => urls[currentImageIndex];
    private int CurrentImageIndex
    {
        get => currentImageIndex;
        set => currentImageIndex = value % urls.Length;
    }

    public void NextCat() => CurrentImageIndex += 1;
}
