@page "/"


<input @bind="IntPro" />
<input @bind="CurrentValue" />
<input @bind="StartDate" @bind:format="yyyy-MM-dd" />
@CurrentValue
<p @bind-style="CurrentValue" @bind-style:event="onchange">
    Ream me 346 4 2 !
</p>
<CatPhotos @ref="cats" />

Welcome to your new app.

<Counter Title="Hadi" Label="Artır"
         @bind-CurrentCount="@counter" />

<div>
    Counter : @counter
</div>
<SurveyPrompt Title="How is Blazor working for you?" />


    

@code {
    private int counter = 5;
    private CatPhotos cats;
    private string CurrentValue { get; set; } = "color:red";
    public int? IntPro { get; set; } = 123;
    public DateTime StartDate { get; set; } = DateTime.Now;
    public void NextCat()
    {
        cats.NextCat();
        this.StateHasChanged();
    }
}