@page "/"
@using WebApplication1.Models
@using WebApplication1.Services
@inject ProductService ProductService


<div class="row">
    @foreach(var product in listProducts)
    {
        <WebApplication1.Pages.Components.IndividualProduct product="product" />
    }
</div>

@code {
    List<Product> listProducts = new List<Product>();
        
    protected override void OnInitialized()
    {
        listProducts = ProductService.GetProducts();
    }
}
