@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter Title="Hadi" Label="Artır" 
    @bind-CurrentCount="@counter" />

<div>
    Counter : @counter
</div>
<SurveyPrompt Title="How is Blazor working for you?" />
<MyAlert Show="@(counter > 8)">
    <p>Hey There</p>
</MyAlert>

@code {
    private int counter = 5;    
}