@inject Services.BlazorTimer Timer
@page "/"

<CatPhotos @ref="cats" />
<Timer Active="@true" TimeInSeconds="3" Tick="@NextCat" />
Welcome to your new app.

<Counter Title="Hadi" Label="Artır"
         @bind-CurrentCount="@counter" />

<div>
    Counter : @counter
</div>
<SurveyPrompt Title="How is Blazor working for you?" />



@code {
    private int counter = 5;
    private CatPhotos cats;
    public void NextCat()
    {
        cats.NextCat();
        this.StateHasChanged();
    }
}